.main_statement {
  width: 100%;
}

.block {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
  width: 100%;
}

.name_divade_chapter {
  width: 100%;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.name_chapter {
  width: 100%;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 2rem !important;
}

.right_column {
  width: 50%;
}

.left_column {
  width: 50%;
}

.paragraph {
   text-align: center;
   padding-bottom: 1rem;
   font-weight: bold;
}

.month_income {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}


.name_chapter {
  text-align: center;
}

.ant-input-number {
  border-style:dotted;
  width: 100%;
}

.form__item {
  margin-left: 50px;
  text-align: left;
  font-family:'Times New Roman', Times, serif;
  font-size: medium;
  font-weight: 600;
  white-space: pre-wrap;
  max-height: 200px;
}
